<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Xspray OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>XsprayD OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>61A9DFBE0B833E9600BC506C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61A9DFC80B833EF200BC506C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5B95D7E16A97E5C00D626C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5B95D9616A97EDB00D626C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5B95E0F16A9983E00D626C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5D64521120A0B92009C26A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5EF6FB811E77DE8000FB337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
