icon.icns        NUI_RESOURCE    "resources/icon.icns"
icon.ico        NUI_RESOURCE    "resources/icon.ico"
css/DebugView.css        NUI_RESOURCE    "resources/css/DebugView.css"
css/Entypo.css        NUI_RESOURCE    "resources/css/Entypo.css"
css/FontAwesome.css        NUI_RESOURCE    "resources/css/FontAwesome.css"
css/HomeView.css        NUI_RESOURCE    "resources/css/HomeView.css"
css/main.css        NUI_RESOURCE    "resources/css/main.css"
decorations/image.png        NUI_RESOURCE    "resources/decorations/image.png"
fonts/Entypo.ttf        NUI_RESOURCE    "resources/fonts/Entypo.ttf"
fonts/fontawesome-webfont.ttf        NUI_RESOURCE    "resources/fonts/fontawesome-webfont.ttf"
0 ICON "resources/icon.ico"
