icon.icns        NUI_RESOURCE    "resources/icon.icns"
icon.ico        NUI_RESOURCE    "resources/icon.ico"
css/main.css        NUI_RESOURCE    "resources/css/main.css"
decorations/image.png        NUI_RESOURCE    "resources/decorations/image.png"
fonts/Entypo.ttf        NUI_RESOURCE    "resources/fonts/Entypo.ttf"
fonts/fontawesome-webfont.ttf        NUI_RESOURCE    "resources/fonts/fontawesome-webfont.ttf"
0 ICON "resources/icon.ico"
