// Debug View

+nuiHBox VariableView
{
  +Label Name
  {
    Text: VariableName;
    TextColor: black;
  }

  +Label Type
  {
    Text: VariableType;
    TextColor: rgb(128,128,128);
  }

  +Label Value
  {
    Text: VariableValue;
    TextColor: red;
  }
}

+nuiHBox iOSDeviceLabel
{
  +Label Name
  {
    Text: DeviceName;
  }

  +Label Type
  {
    Text: DeviceType;
  }

  +Label Version
  {
    Text: DeviceVersion;
  }
}


+nuiHBox Transport
{
  Expand: ShrinkAndGrow;
  
  +nuiButton ChooseApplication
  {
    MinIdealWidth : 80;
    Position: Center;

    +nuiHBox
    {
      Expand: ShrinkAndGrow;
      +Entypo {Text: $entypo_folder; }
      +Label ApplicationName { Text: "Choose application"; }
    }
  }

  +nuiVBox
  {
    Expand: ShrinkAndGrow;
    MinIdealWidth : 150;
    Position: Center;

    +Label { Text: "Architectures:"; Position: Center; }
    +nuiComboBox Architectures
    {
      BorderLeft: 10;
      BorderRight: 10;
      Position: Fill;
    }
  }

  +nuiVBox
  {
    Expand: ShrinkAndGrow;
    Position: Center;
    MinIdealWidth : 150;

    +Label { Text: "Devices:"; Position: Center; }
    +nuiComboBox Devices
    {
      //BorderLeft: 10;
      BorderRight: 10;
      Position: Fill;
    }
  }

  +nuiButton StartStop
  {
    +Entypo {Text: $entypo_rocket; }
    Position: Center;
  }

  +nuiButton Pause
  {
    +Entypo {Text: $entypo_pause; }
    Position: Center;
  }

  +nuiButton Continue
  {
    +Entypo{ Text: $entypo_play; }
    Position: Center;
  }

  +nuiButton StepIn
  {
    +Entypo{ Text: $entypo_level_down; }
    Position: Center;
  }

  +nuiButton StepOver
  {
    +Entypo{ Text: $entypo_cw; }
    Position: Center;
  }

  +nuiButton StepOut
  {
    +Entypo{ Text: $entypo_back; }
    Position: Center;
  }
}

+nuiHBox MainArea
{
  
}

+nuiHBox ModulesTabHeader
{
  +Entypo { Text: $entypo_box; }
  +Label { Text: "Modules"; }
}

+nuiHBox ThreadsTabHeader
{
  +Entypo { Text: $entypo_text_doc; }
  +Label { Text: "Threads"; }
}

+DebugView Debugger
{
  Decoration: WindowBackground;

  VAnchors_header = 40;
  VAnchorsType_header = Absolute;

  VAnchors_variables = -300;
  VAnchorsType_variables = Absolute;

  HAnchors_threads = 300;
  VAnchorsType_threads = Absolute;

  +Transport
  {
    Layout = [left, right] / [top, header];
  }

  +nuiTabView Organiser
  {
    Layout = [left, threads] / [header, bottom];

    +nuiScrollView ThreadsScroller
    {
      TabWidget= ThreadsTabHeader;

      +nuiTreeView Threads
      {
      }
    }

    +nuiScrollView ModulesScroller
    {
      TabWidget = ModulesTabHeader;

      +nuiTreeView Modules
      {
      }
    }
  }

  +nuiScrollView SourceScroller
  {
    Layout = [threads, right] / [header, variables];
    
    +SourceView source
    {
    }
  }

  +nuiScrollView VariablesScroller
  {
    Decoration: nuiDefaultDecorationScrollBarHorizontalBkg;
    DecorationMode: Border;
    Layout = [threads, right] / [variables, bottom];
    +nuiTreeView Variables
    {
      DisplayRoot: false;
    }
  }
}

