// Debug View

+nuiHBox VariableView
{
  +Label Name
  {
    Text: VariableName;
    TextColor: black;
  }

  +Label Type
  {
    Text: VariableType;
    TextColor: rgb(128,128,128);
  }

  +Label Value
  {
    Text: VariableValue;
    TextColor: red;
  }
}

+nuiHBox iOSDeviceLabel
{
  +Label Name
  {
    Text: DeviceName;
  }

  +Label Type
  {
    Text: DeviceType;
  }

  +Label Version
  {
    Text: DeviceVersion;
  }
}


+nuiHBox Transport
{
  Expand: ShrinkAndGrow;
  
  +nuiButton ChooseApplication
  {
    MinIdealWidth : 80;
    Position: Center;

    +nuiHBox
    {
      Expand: ShrinkAndGrow;
      +fontawesome_folder_open_alt;
      +Label ApplicationName { Text: "Choose application"; }
    }
  }

  +nuiVBox
  {
    Expand: ShrinkAndGrow;
    MinIdealWidth : 150;
    Position: Center;

    +Label { Text: "Architectures:"; Position: Center; }
    +nuiComboBox Architectures
    {
      BorderLeft: 10;
      BorderRight: 10;
      Position: Fill;
    }
  }

  +nuiVBox
  {
    Expand: ShrinkAndGrow;
    Position: Center;
    MinIdealWidth : 150;

    +Label { Text: "Devices:"; Position: Center; }
    +nuiComboBox Devices
    {
      //BorderLeft: 10;
      BorderRight: 10;
      Position: Fill;
    }
  }

  +nuiButton StartStop
  {
    +fontawesome_rocket;
    Position: Center;
  }

  +nuiButton Pause
  {
    +fontawesome_pause;
    Position: Center;
  }

  +nuiButton Continue
  {
    +fontawesome_play;
    Position: Center;
  }

  +nuiButton StepIn
  {
    +fontawesome_collapse;
    Position: Center;
  }

  +nuiButton StepOver
  {
    +fontawesome_collapse_top;
    Position: Center;
  }

  +nuiButton StepOut
  {
    +fontawesome_level_up;
    Position: Center;
  }
}

+nuiHBox MainArea
{
  
}

+nuiHBox ModulesFilesTabHeader
{
  +fontawesome_suitcase;
  +Label { Text: "Files"; }
}

+nuiHBox ModulesSymbolsTabHeader
{
  +fontawesome_suitcase;
  +Label { Text: "Symbols"; }
}

+nuiHBox ThreadsTabHeader
{
  +fontawesome_cogs;
  +Label { Text: "Threads"; }
}

+DebugView Debugger
{
  Decoration: WindowBackground;

  VAnchors_header = 40;
  VAnchorsType_header = Absolute;

  VAnchors_variables = -300;
  VAnchorsType_variables = Absolute;

  HAnchors_threads = 300;
  VAnchorsType_threads = Absolute;

  +Transport
  {
    Layout = [left, right] / [top, header];
  }

  +nuiTabView Organiser
  {
    Layout = [left, threads] / [header, bottom];

    +nuiScrollView ThreadsScroller
    {
      TabWidget= ThreadsTabHeader;

      +nuiTreeView Threads
      {
      }
    }

    +nuiScrollView ModulesFilesScroller
    {
      TabWidget = ModulesFilesTabHeader;

      +nuiTreeView ModulesFiles
      {
      }
    }

    +nuiScrollView ModulesSymbolsScroller
    {
      TabWidget = ModulesSymbolsTabHeader;

      +nuiTreeView ModulesSymbols
      {
      }
    }
  }

  +nuiScrollView SourceScroller
  {
    Layout = [threads, right] / [header, variables];
    
    +SourceView source
    {
    }
  }

  +nuiSplitter
  {
    MasterChild: false;
    HandlePos: 50;
    Orientation: Vertical;
    Layout = [threads, right] / [variables, bottom];

    +nuiScrollView VariablesScroller
    {
      Decoration: nuiDefaultDecorationScrollBarHorizontalBkg;
      DecorationMode: Border;
      +nuiTreeView Variables
      {
        DisplayRoot: false;
      }
    }

    +GraphView SharedPlotter
    {

    }
  }
}

