// HomeView CSS

+nuiHBox InspectorLine
{
  +Label { Text: LineTitle; }
  +Label { Text: LineContents; }
}

+nuiHBox ListLine
{
  +nuiImage Icon
  {
    UserWidth: 22;
    UserHeight: 22;
    Position: Fill;
    FillRule: Center;
  }
  +Label Title { Text: LineContents; }
}


+HomeView Home
{
  Decoration: WindowBackground;

  VAnchors_header = 40;
  VAnchorsType_header = Absolute;

  VAnchors_icons = 80;
  VAnchorsType_icons = Absolute;

  VAnchors_apps = 110;
  VAnchorsType_apps = Absolute;

  HAnchors_inspector = -200;
  HAnchorsType_inspector = Absolute;

  HAnchors_left = 50;
  HAnchorsType_inspector = Absolute;

  HAnchors_right = -50;
  HAnchorsType_inspector = Absolute;

  +Label
  {
    Layout = [left, right] / [top, header];
    Position: Top;
    Text: "Xspray Home Screen";
  }

  +nuiHBox
  {
    Expand: ShinkAndGrow;
    Layout = [left, right] / [icons, apps];

    +nuiButton RemoveApplication
    {
      EnableDecoration: false;
      FocusVisible: false;
      +fontawesome_minus_sign;
    }

    +nuiButton AddApplication
    {
      EnableDecoration: false;
      FocusVisible: false;
      +fontawesome_plus_sign;
    }
  }

  +nuiScrollView
  {
    Borders: 12;
    Decoration: WhiteBackgroundStroke;
    Layout = [left, inspector] / [apps, bottom];
    +nuiList AppList;
  }

  +nuiScrollView
  {
    Layout = [inspector, right] / [apps, bottom];
    +nuiVBox
    {
      +nuiButton LaunchApplication
      {
        +nuiHBox
        {
          +Label { Text: "Start Debugging"; }
          +fontawesome_signin;
        }
      }
      
      +nuiImage Icon
      {
        Position: Center;
      }
      
      +InspectorLine( LineTitle: "Name:", LineContents: "bleh1" );
      +InspectorLine( LineTitle: "Path:", LineContents: "bleh2" );
      +InspectorLine( LineTitle: "Command line:", LineContents: "bleh3" );
    }
  }
}
