// HomeView CSS

+Label ContentsType
{
  Text: "";
}

+nuiHBox InspectorLine
{
  Borders : 4;
  +Label Title { Text: LineTitle; }
  +ContentsType Contents { Text: LineContents; }
  CellExpand[1]: ShrinkAndGrow;
}

+nuiHBox ListLine
{
  +nuiImage Icon
  {
    UserWidth: 22;
    UserHeight: 22;
    Position: Fill;
    FillRule: Center;
  }
  +Label Title { Text: LineContents; }
}


+HomeView Home
{
  Decoration: WindowBackground;

  VAnchors_header = 40;
  VAnchorsType_header = Absolute;

  VAnchors_icons = 80;
  VAnchorsType_icons = Absolute;

  VAnchors_apps = 110;
  VAnchorsType_apps = Absolute;

  HAnchors_inspector = -400;
  HAnchorsType_inspector = Absolute;

  +Label
  {
    Layout = [left, right] / [top, header];
    Position: Top;
    Text: "Xspray Home Screen";
  }

  +nuiHBox
  {
    BorderLeft: 10;
    Expand: ShrinkAndGrow;
    Layout = [left, right] / [icons, apps];
    MaxHeight: 20;
    Position: BottomLeft;

    +nuiButton RemoveApplication
    {
      EnableDecoration: false;
      FocusVisible: false;
      +fontawesome_minus_sign;
    }

    +nuiButton AddApplication
    {
      EnableDecoration: false;
      FocusVisible: false;
      +fontawesome_plus_sign;
    }
  }

  +nuiScrollView
  {
    Borders: 12;
    Decoration: WhiteBackgroundStroke;
    Layout = [left, inspector] / [apps, bottom];
    +nuiList AppList;
  }

  +nuiScrollView
  {
    Layout = [inspector, right] / [apps, bottom];
    EnableHorizontalScroll: false;

    +nuiVBox
    {
      Borders: 10;
      Expand: ShrinkAndGrow;

      +nuiButton LaunchApplication
      {
        Position: Left;
        +nuiHBox
        {
          Borders : 5;
          +Label { Text: "Start Debugging"; }
          +fontawesome_signin;
        }
      }
      
      +nuiImage Icon
      {
        Borders : 10;
        Position: Center;
      }
      
      +InspectorLine AppName( LineTitle: "Name:", LineContents: "" );
      +InspectorLine AppPath( LineTitle: "Path:", LineContents: "" );
      +InspectorLine AppCommandLine( LineTitle: "Command line:", LineContents: "", ContentsType: "nuiEditLine" );
      +InspectorLine AppEnvironment( LineTitle: "Environment:", LineContents: "", ContentsType: "nuiEditLine" );
    }
  }
}
