//
// main nui3 stylesheet
//


// remember each stylesheet file must have at least a blank ending line, 
// or the stylehsheet parsing may not work properly

#include "Entypo.css"
#include "FontAwesome.css"

@font Helvetica
{
  Name: "Helvetica";
  Size: 14;
}

@font Default
{
  Name: "Lucida Grande";
  Size: 14;
}

@nuiColorDecoration WindowBackground
{
  ShapeMode: FillShape;
  FillColor: rgb(192, 192, 192);
}

@nuiColorDecoration WhiteBackground
{
  ShapeMode: FillShape;
  FillColor: rgb(255, 255, 255);
}

+nuiLabel Label { Font: Default; }

#include "HomeView.css"
#include "DebugView.css"
