//
// main nui3 stylesheet
//

// you can include your stylesheets this way:
// #include "myStylesheet.css"

// remember each stylesheet file must have at least a blank ending line, 
// or the stylehsheet parsing may not work properly

@font Helvetica
{
  Name: "Helvetica";
  Size: 12;
}


+nuiHBox Transport
{
  +nuiButton StartStop
  {
    +nuiLabel{ Text: "Start/Stop"; }
  }

  +nuiButton Pause
  {
    +nuiLabel{ Text: "Pause"; }
  }

  +nuiButton Continue
  {
    +nuiLabel{ Text: "Continue"; }
  }

  +nuiButton StepIn
  {
    +nuiLabel{ Text: "Step in"; }
  }

  +nuiButton StepOver
  {
    +nuiLabel{ Text: "Step over"; }
  }

  +nuiButton StepOut
  {
    +nuiLabel{ Text: "Step out"; }
  }
}

+nuiHBox MainArea
{
  
}

+nuiLayout Debugger
{
  VAnchors_header = 22;
  VAnchorsType_header = Absolute;

  VAnchors_variables = -300;
  VAnchorsType_variables = Absolute;

  HAnchors_threads = 300;
  VAnchorsType_threads = Absolute;

  +Transport
  {
    Layout = [left, right] / [top, header];
  }

  +nuiTabView Organiser
  {
    Layout = [left, threads] / [header, bottom];

    +nuiScrollView ThreadsScroller
    {
      Decoration: nuiDefaultDecorationScrollBarHorizontalBkg;
      DecorationMode: Border;
      +nuiTreeView Threads
      {
      }
    }

    +nuiScrollView ModulesScroller
    {
      Decoration: nuiDefaultDecorationScrollBarHorizontalBkg;
      DecorationMode: Border;
      +nuiTreeView Modules
      {
      }
    }
  }

  +nuiScrollView SourceScroller
  {
    Layout = [threads, right] / [header, variables];
    
    +SourceView source
    {
    }
  }

  +nuiScrollView VariablesScroller
  {
    Decoration: nuiDefaultDecorationScrollBarHorizontalBkg;
    DecorationMode: Border;
    Layout = [threads, right] / [variables, bottom];
    +nuiTreeView Variables
    {
      DisplayRoot: false;
    }
  }
}

