//
// main nui3 stylesheet
//


// remember each stylesheet file must have at least a blank ending line, 
// or the stylehsheet parsing may not work properly

@font Helvetica
{
  Name: "Helvetica";
  Size: 12;
}


@Font Icons1
{
  Name: "rsrc:/fonts/fontawesome-webfont.ttf";
  Size: 18;
}

@Font Icons2
{
  Name: "rsrc:/fonts/Entypo.ttf";
  Size: 36;
}

+nuiLabel Icon1 { EnableDecoration: false; Font: Icons1; }
+nuiLabel Icon2 { EnableDecoration: false; Font: Icons2; }

+nuiLabel Label { Font: Helvetica; }

#include "HomeView.css"
#include "DebugView.css"
